.dropdown_M {
    float: center;
    overflow: hidden;
}
.dropbtn_M {
    font-size: 16px;    
    outline: 1px double blue;
    color: black;
    padding: 14px 16px;
    background-color: 1d50a3;
	text-align:center;
	position: relative;
	margin-left:25%;
	margin-top:5%;
	margin-bottom:5%;
	cursor:pointer;
}
.dropdown-content_M {
    display: none;
    position: relative;
    min-width: 160px;
    
    z-index: 1;
	text-align: left;
	margin-left:5%;
	margin-right:5%;
}
.dropbtn_M:hover, .dropbtn_M:focus {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}
.dropdown-content_M a:hover {background-color: #f1f1f1;}
.show {display:block;}

.center {
    margin: auto;
    width: 40%;
}
.container {
    overflow: hidden;
    background-color: none;
    font-family: Arial;
	width:100%;
	margin:auto;
	
	border-width:2px;  
    border-style:dashed   ;
	
}

.container a {
    float: left;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	display:block;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #d0dcef;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d0dcef;
    min-width: 160px;
    box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #81a6e2;
}

.dropdown:hover .dropdown-content {
    display: block;
}