input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #4d668e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2458ad;
}

.center {
    margin: auto;
    width: 70%;
}
.container {
    overflow: hidden;
    background-color: white;
    font-family: Arial;
	width:100%;
	margin:auto;
	border: none;
	padding-top:0;
	
}

.container a {
    float: left;
    font-size: 20px;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	display:block;
	margin-top:2%;
}

.dropdown {
    float: left;
    overflow: hidden;
	margin-top:2%;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: orange;
    padding: 14px 16px;
    background-color: inherit;
	
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #d0dcef;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d0dcef;
    min-width: 160px;
    box-shadow: 0px 15px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #81a6e2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}